@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
  font-family: var(--font-grift), system-ui, sans-serif;
}

@layer components {
  .home-section {
    @apply flex gap-4 justify-between items-start w-full max-lg:flex-col-reverse max-lg:items-center;
  }
  .companions-grid {
    @apply flex flex-wrap gap-4 w-full max-md:justify-center justify-between;
  }
  .companion-card {
    @apply flex flex-col rounded-4xl border border-black px-4 py-4 gap-5 w-full min-lg:max-w-[410px] justify-between;
  }
  .subject-badge {
    @apply bg-black text-white rounded-4xl text-sm px-2 py-1 capitalize;
  }
  .companion-bookmark {
    @apply px-2 bg-black rounded-4xl flex items-center h-full aspect-square cursor-pointer;
  }
  .input {
    @apply !border-black !bg-white focus-visible:!ring-0 focus-visible:!border-black !w-full;
  }
  .rounded-border {
    @apply rounded-4xl border border-black;
  }
  .btn-primary {
    @apply bg-primary text-white rounded-xl cursor-pointer px-4 py-2 flex items-center gap-2;
  }
  .navbar {
    @apply flex items-center justify-between mx-auto w-full px-14 py-4 bg-white max-sm:px-4;
  }
  .btn-signin {
    @apply border border-black rounded-4xl px-4 py-2.5 text-sm font-semibold flex items-center gap-2 cursor-pointer;
  }
  .companion-list {
    @apply rounded-4xl border border-black px-7 pt-7 pb-10 max-lg:w-full bg-white;
  }
  .companion-limit {
    @apply items-center justify-center flex flex-col gap-4 w-full min-2xl:w-1/2 pt-20 text-center;
  }

  .companion-section {
    @apply border-2 border-orange-500 w-2/3 max-sm:w-full flex flex-col gap-4 justify-center items-center rounded-lg;
  }

  .companion-avatar {
    @apply size-[300px] flex items-center justify-center rounded-lg max-sm:size-[100px] mt-4;
  }
  .companion-lottie {
    @apply size-[300px] max-sm:size-[100px];
  }

  .user-section {
    @apply flex flex-col gap-4 w-1/3 max-sm:w-full max-sm:flex-row;
  }
  .user-avatar {
    @apply border-2 border-black flex flex-col gap-4 items-center rounded-lg py-8 max-sm:hidden;
  }

  .btn-mic {
    @apply border-2 border-black rounded-lg flex flex-col gap-2 items-center py-8 max-sm:py-2 cursor-pointer w-full;
  }

  .transcript {
    @apply relative flex flex-col gap-4 w-full items-center pt-10 flex-grow overflow-hidden;
  }
  .transcript-message {
    @apply overflow-y-auto w-full flex flex-col gap-4 max-sm:gap-2 pr-2 h-full text-2xl;
  }
  .transcript-fade {
    @apply pointer-events-none absolute bottom-0 left-0 right-0 h-40 max-sm:h-20 bg-gradient-to-t from-background via-background/90 to-transparent z-10;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  --background: oklch(0.9761 0.0041 91.4461);
  --foreground: oklch(0.2417 0.0298 269.8827);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2417 0.0298 269.8827);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2417 0.0298 269.8827);
  --primary: oklch(0.6333 0.0309 154.9039);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.8596 0.0291 119.9919);
  --secondary-foreground: oklch(0.2417 0.0298 269.8827);
  --muted: oklch(0.9251 0.0071 88.645);
  --muted-foreground: oklch(0.551 0.0234 264.3637);
  --accent: oklch(0.8242 0.0221 136.6092);
  --accent-foreground: oklch(0.2417 0.0298 269.8827);
  --destructive: oklch(0.5624 0.1743 26.1433);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9251 0.0071 88.645);
  --input: oklch(1 0 0);
  --ring: oklch(0.6333 0.0309 154.9039);
  --chart-1: oklch(0.6333 0.0309 154.9039);
  --chart-2: oklch(0.7209 0.0489 120.9474);
  --chart-3: oklch(0.6744 0.0427 136.011);
  --chart-4: oklch(0.551 0.0234 264.3637);
  --chart-5: oklch(0.9251 0.0071 88.645);
  --sidebar: oklch(0.9845 0.0026 106.4477);
  --sidebar-foreground: oklch(0.2417 0.0298 269.8827);
  --sidebar-primary: oklch(0.6333 0.0309 154.9039);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9251 0.0071 88.645);
  --sidebar-accent-foreground: oklch(0.2417 0.0298 269.8827);
  --sidebar-border: oklch(0.9251 0.0071 88.645);
  --sidebar-ring: oklch(0.6333 0.0309 154.9039);
  --font-sans: Antic, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Signifier, Georgia, serif;
  --font-mono: JetBrains Mono, Courier New, monospace;
  --radius: 0.35rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.04;
  --shadow-color: #1a1f2e;
  --shadow-2xs: 0px 1px 2px 0px hsl(225 27.7778% 14.1176% / 0.02);
  --shadow-xs: 0px 1px 2px 0px hsl(225 27.7778% 14.1176% / 0.02);
  --shadow-sm: 0px 1px 2px 0px hsl(225 27.7778% 14.1176% / 0.04),
    0px 1px 2px -1px hsl(225 27.7778% 14.1176% / 0.04);
  --shadow: 0px 1px 2px 0px hsl(225 27.7778% 14.1176% / 0.04),
    0px 1px 2px -1px hsl(225 27.7778% 14.1176% / 0.04);
  --shadow-md: 0px 1px 2px 0px hsl(225 27.7778% 14.1176% / 0.04),
    0px 2px 4px -1px hsl(225 27.7778% 14.1176% / 0.04);
  --shadow-lg: 0px 1px 2px 0px hsl(225 27.7778% 14.1176% / 0.04),
    0px 4px 6px -1px hsl(225 27.7778% 14.1176% / 0.04);
  --shadow-xl: 0px 1px 2px 0px hsl(225 27.7778% 14.1176% / 0.04),
    0px 8px 10px -1px hsl(225 27.7778% 14.1176% / 0.04);
  --shadow-2xl: 0px 1px 2px 0px hsl(225 27.7778% 14.1176% / 0.1);
  --tracking-normal: 0em;
  --spacing: 0.23rem;
}

.dark {
  --background: oklch(0.1448 0 0);
  --foreground: oklch(0.9702 0 0);
  --card: oklch(0.1822 0 0);
  --card-foreground: oklch(0.9702 0 0);
  --popover: oklch(0.1822 0 0);
  --popover-foreground: oklch(0.9702 0 0);
  --primary: oklch(0.6333 0.0309 154.9039);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.2178 0 0);
  --secondary-foreground: oklch(0.9702 0 0);
  --muted: oklch(0.2178 0 0);
  --muted-foreground: oklch(0.7058 0 0);
  --accent: oklch(0.3709 0.0248 153.9823);
  --accent-foreground: oklch(0.9702 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.285 0 0);
  --input: oklch(0.1822 0 0);
  --ring: oklch(0.6333 0.0309 154.9039);
  --chart-1: oklch(0.6333 0.0309 154.9039);
  --chart-2: oklch(0.7209 0.0489 120.9474);
  --chart-3: oklch(0.6744 0.0427 136.011);
  --chart-4: oklch(0.551 0.0234 264.3637);
  --chart-5: oklch(0.5096 0.0289 152.346);
  --sidebar: oklch(0.1684 0 0);
  --sidebar-foreground: oklch(0.9702 0 0);
  --sidebar-primary: oklch(0.6333 0.0309 154.9039);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2178 0 0);
  --sidebar-accent-foreground: oklch(0.9702 0 0);
  --sidebar-border: oklch(0.285 0 0);
  --sidebar-ring: oklch(0.6333 0.0309 154.9039);
  --font-sans: Antic, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Signifier, Georgia, serif;
  --font-mono: JetBrains Mono, Courier New, monospace;
  --radius: 0.35rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.04;
  --shadow-color: #000000;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.02);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.02);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.04),
    0px 1px 2px -1px hsl(0 0% 0% / 0.04);
  --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.04),
    0px 1px 2px -1px hsl(0 0% 0% / 0.04);
  --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.04),
    0px 2px 4px -1px hsl(0 0% 0% / 0.04);
  --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.04),
    0px 4px 6px -1px hsl(0 0% 0% / 0.04);
  --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.04),
    0px 8px 10px -1px hsl(0 0% 0% / 0.04);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
